.container{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.styled-table {
    width:700px;
    /*height:200px; */
    border-collapse: collapse;
    font-family: "Montserrat",sans-serif;
    margin-top: 0;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
     rgba(0, 0, 0, 0.12) 0px -12px 30px,
      rgba(0, 0, 0, 0.12) 0px 4px 6px,
       rgba(0, 0, 0, 0.17) 0px 12px 13px,
        rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    height:20px;
}


.styled-table th,
.styled-table td {
    padding: 10px 10px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr td {
    font-family: "Montserrat","monospace";
    font-weight: 500;
    font-size:15px;
    text-transform: capitalize;
}


.add-item{
    border:none;
    background-color:rgb(198, 82, 19);
    width:80px;
    height:50px;
    border-radius: 3px;
    /* float: right; */
    margin-left: 620px;
    margin-bottom: 0px;
}


 .add-item a{
    text-decoration: none;
    color:#ffffff;
    font-size:30px;
    cursor:pointer;

}

.modifications{
    display:flex;
    justify-content: space-around;

}

.modify-item{
    border:none;
    width:80px;
    height:50px;
    border-radius: 3px;
    float: right;
    margin-top: 0px;

}

.modify-item a {
    text-decoration: none;
    color:#333;
    font-size:20px

}

.modify-item a i:nth-of-type(even) {
    background-color: #f3f3f3;
}